.Header {
    font-family: "Russo One", sans-serif;
}
.chessBoard {
    left: 50%;
    position: relative;
    transform: translateX(-25%);
}

.download {
    left: 25%;
    position: relative;
    transform: translateX(-50%);
}
